Input

In [3]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum = num1 + num2
print(sum)

Enter the first number: 20
Enter the second number: 20
40

In [4]:
num =5
type(num)

int

In [6]:
num =5
num1 = (float(num))
type(num1)

float